@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  height: 100vh;
}

.ql-editor {
  font-size: 1.05rem;
}

.incidentReport-content p {
  margin-bottom: 0.5rem;
}

.incidentReport-content h1 {
  font-size: 1.5rem;
  font-weight: 600;
  font-family: sans-serif;
  margin: 1.5rem 0;
}

.incidentReport-content h2 {
  font-size: 1.4rem;
  font-family: sans-serif;
  margin: 1.5rem 0;
}

.incidentReport-content a {
  color: rgb(73, 149, 199);
  text-decoration: none;
}

.incidentReport-content a:hover {
  text-decoration: underline;
}

.dark .incidentReport-content a {
  color: red;
}